    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>Puede ver ciertas imagenes y aplicaciones de los que he realizado a través de pdf o el enlace si los servidores se encuentran activos, en los cuales he trabajado en el diseño y parte del backend.
              Si quiere ver mas diseños, puede entrar al que dice figma.
            </p>
          </div>
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
  
            <!-- Class filter-app, filter-web, filter-card -->
            <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let imagen of Images" [ngClass]="imagen.type">
              <div class="portfolio-wrap rounded d-flex justify-content-center align-items-center">
                <h2 style="z-index:1;" class="position-absolute text-light">{{ imagen.text }}</h2>
                <img style="filter: brightness(50%); object-fit: cover;height:250px" [src]="imagen.banner" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a [href]="imagen.pdfOrLink" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
  
           
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->