    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resumen</h2>
            <p>Empeze a trabajar en el año 2016, primero fue como vendedor despues progrese más en mi rubro y en el ambito profesional, el cual trato de mantenerme actualizado. </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Isaac Santaella</h4>
                <p><em>Diseñador y Desarrollador de aplicaciones web con 3 años de experiencia en el mundo laboral.</em></p>
                <ul>
                  <li>Los Teques, Miranda, Venezuela</li>
                  <li>(+58) 4126014556</li>
                  <li>santaellaisaac2@gmail.com</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Técnico Medio en Informática</h4>
                <h5>2014 - 2016</h5>
                <p><em>E.T.C "Dr Jesus Muñoz Tebar"</em></p>
                <p>Finalize el bachiller teniendo en cuenta de que trataba la profesión con conocimiento y experiencia en programación.</p>
              </div>
              <div class="resume-item">
                <h4>Técnico Superior en Informática</h4>
                <h5>2017 - 2019</h5>
                <p><em>Universidad Politécnica Territorial de los Altos Mirandinos "Cecilio Acosta"</em></p>
                <p>Termine el tecnico superior con mas amplitud de la carrera y añadiendo conocimientos previos.</p>
              </div>
              <div class="resume-item">
                <h4>Ingeniería en Informática</h4>
                <h5>2019 - 2021</h5>
                <p><em>Universidad Politécnica Territorial de los Altos Mirandinos "Cecilio Acosta"</em></p>
                <p>Finalize la carrera en el ambito institucional, el cual pude lograr mi objetivo a corto plazo. </p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Yahcrea</h4>
                <h5>2016-2018 (Wordpress)</h5>
                <p><em>Venezuela, Miranda, Los Teques</em></p>
                <ul>
                  <li>Ventas de paquetes de Diseño </li>
                  <li>Desarrollo de aplicaciones Web</li>
                  <li>Adquisicion de Clientes</li>
                 </ul>
              </div>
              <div class="resume-item">
                <h4>Facturalo Peru (Freelance)</h4>
                <h5>2019.- Laravel/Vue</h5>
                <ul>
                  <li>Desarrollo de aplicacion con una arquitectura multitenat con tenancy.dev </li>
                 </ul>
              </div>
              <div class="resume-item">
                <h4>Pasantias (PDVSA)</h4>
                <h5>2019.- Python/Web2py</h5>
                <ul>
                  <li>Desarrollo de un sistema de gestion documental. </li>
                 </ul>
              </div>
              <div class="resume-item">
                <h4>Leveltech (Freelance)</h4>
                <h5>2020-2021.- Nodejs/Vuejs </h5>
                <ul>
                  <li>Diseñador web</li>
                  <li>Desarrollo de aplicacion con threejs</li>
                 </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->