

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img2.jpeg" alt="" class="img-fluid rounded-circle" style="height:110px; width:110px; object-fit: cover; object-position: 0% 10%;">
      <h1 class="text-light"><a href="index.html">Isaac Santaella</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://twitter.com/aisak0"  target="blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/isaac.santaella.3/"  target="blank"class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/isaacsantaella/" target="blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.me/+584126014556" target="blank" class="google-plus"><i class="bx bxl-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/isaac-santaella-000797173/" target="blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="assets/img/Curriculum AIsak2.pdf" target="blank" class="link"><i class="bx bx-link"></i></a>

      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
